<div class="show">
    <div class="form-group">
        <label for="blog_title"><strong>タイトル</strong></label>
        <p><%= @blog.title %></p>
    </div>

    <div class="form-group">
        <label for="blog_title"><strong>内容</strong></label>
        <p><%= @blog.content %></p>
    </div>

    <div class="form-group">
        <label for="blog_title"><strong>時間</strong></label>
        <p><%= @blog.start_time.strftime("%m-%d") %></p>
    </div>

    <%= link_to '編集', edit_blog_path(@blog) %>
    <%= link_to '消去', blog_path(@blog.id), data: { turbo_method: :delete, turbo_confirm: "本当に？" } %>
    <%= link_to '戻る', blogs_path %>
</div>